<div class="d-flex flex-column justify-content-around height">
<h1 class="top-margin d-flex justify-content-center">Booking Information</h1>
</div>

<div class="card-boat">
  <% if @booking.boat.photo.attached? %>
    <div class="d-flex justify-content-center flex-edit">
     <%= cl_image_tag @booking.boat.photo.key %>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h4> NAME: <%= @booking.boat.name %></h4>
      <h4> LOCATION: <%= @booking.boat.location %></h4>
      <h4> DETAILS: <%= @booking.boat.details %></h4>
      <h4> PRICE: € <%= @booking.boat.price %></h4>
      <h4> Starting Date: <%= @booking.start_date %></h4>
      <h4> Ending Date: <%= @booking.end_date %></h4>
    </div>
  </div>
</div>

<hr>

<div class="d-flex justify-content-around">
  <p class="btn btn-primary"><%= link_to "Edit booking information", edit_boat_path, class: "btn btn-flat" %></p>
  <p class="btn btn-primary"> <%= link_to "Delete #{@booking.boat.name}", boat_path(@booking.boat), class: "btn btn-flat",
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </p>
</div>
