<div class="banner">
  <div class="container">
    <h1 class="funky-font">Take a boat and rock 'n roll!</h1>
    <p>The best solution for your yacht charter.</p>
    <div class="flex-it">
    <div class="search-size">
      <%= form_tag boats_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a boat by city"
      %>
    </div>
    <div class="search-button">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <% end %>
    </div>
  </div>
</div>

<!-- Card -->
<div class="container">
  <div class= "cardcontainer">
  <% @boats.each do |boat|%>
  <div class="card-trip">
    <% if boat.photo.attached? %>
   <%= cl_image_tag boat.photo.key %>
   <% end %>
    <div class="card-trip-infos">
      <div class="card-trip-text">
        <h2> <%= boat.name %></h2>
        <p> <%= boat.details %></p>
      </div>
      <h2 class="card-trip-pricing">€ <%= boat.price %></h2>
    </div>
    <%= link_to "", boat_path(boat), class: "card-link" %>
  </div>
  <% end %>
  </div>
</div>

<!--<%# if user_signed_in? %>
  <%# @bookings.each do |booking|%>
    <%# if booking.user == current_user %>
      <%#= booking.start_date %>
      <%#= booking.end_date %>
    <%# end %>
  <%# end %>
<%# end %>

<%#= link_to "Add a new boat", new_boat_path %>
<%#= link_to "SignUp or Login", new_boat_path %>
<%# end %>-->




