<h1 class="serious-font">Boats</h1>
<p class="serious-font">ROCK 'N BOAT</p>

<div class= "cardcontainer-index">
<% if @boats.first.present? %>
<% @boats.each do |boat|%>
  <div class="card-trip">
    <% if boat.photo.attached? %>
   <%= cl_image_tag boat.photo.key %>
<% end %>
    <div class="card-trip-infos">
      <div>
        <h2> <%= boat.name %></h2>
        <p> <%= boat.details %></p>
      </div>
      <h2 class="card-trip-pricing">€ <%= boat.price %></h2>
    </div>
    <%= link_to "", boat_path(boat), class: "card-link" %>
  </div>
<% end %>
<% else %>
  <h3>NO BOATS FOUND AT THIS LOCATION</h3>
<% end %>
</div>
