  <h1>Boat Information</h1>

  <% if @boat.photo.attached? %>
   <%= cl_image_tag @boat.photo.key %>
  <% end %>
  <h4> <%= @boat.name %></h4>
  <p><%= @boat.location %></p>
  <p><%= @boat.details %></p>
  <p><%= @boat.price %></p>
  <hr>
  <p><%= link_to "Book now", new_boat_booking_path(@boat), class: "btn btn-flat" %></p>
  <p><%= link_to "Edit boat information", edit_boat_path, class: "btn btn-flat" %></p>
  <%= link_to "Delete #{@boat.name}", boat_path(@boat),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
