  <h1>Boat Information</h1>
  <%= cl_image_tag @boat.photo.key%>
  <h4> <%= @boat.name %></h4>
  <p><%= @boat.location %></p>
  <p><%= @boat.details %></p>
  <p><%= @boat.price %></p>
  <hr>
  <p><%= link_to "Book now", new_boat_booking_path(@boat), class: "btn btn-flat" %></p>
